#subCaixaPrincipal {
  height: 320px;
  position: relative;
}

#scroller {
  position: absolute;
  text-align: justify;
  margin: 1em;
  padding: 1em;
  background-image: url(fotos/scroll.png);
}

#scroller h2 {
  font-size: 1.4em;
  color: #993333;
  background-color: inherit;
}

#scroller p {
  margin-top: 0;
}

#innerScroll {
  position: relative;
  overflow: hidden;
  width: 18em;
}