body {
  font-family: Georgia, Garamond, 'Bitstream Vera Serif', 'Luxi Serif', serif;
  color: black;
  background-color: rgb(255, 234, 234);
}

#caixaPrincipal {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  color: inherit;
  background-color: rgb(255, 153, 153);
}

#topoTexto {
  padding: 1em 0;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 204, 204);
}

#navegacao {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#navegacao li {
  float: left;
  width: 20%;
  text-align: center;
  list-style-type: none;
  color: white;
  background-color: rgb(255, 102, 102);
}

#navegacao li :link,
#navegacao li :visited {
  color: white;
  text-decoration: none;
}

#navegacao li :hover {
  color: black;
  background-color: inherit;
}

#navegacao li.selected {
  background-color: rgb(255, 153, 153);
}

#textoInformativo {
  text-align: center;
}

main {
  color: inherit;
  background-color: rgb(255, 204, 204);
  padding: 1em;
}

p {
  text-align: justify;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h2,
h3 {
  margin: 0;
}

h2+h3 {
  margin-top: 1em;
}

:link,
:visited,
h1 {
  color: #993333;
  background-color: inherit;
}

footer {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

.disco {
  width: 150px;
  height: 150px;
  float: left;
}

.album {
  float: right;
  width: 440px;
  padding-left: 1em;
}

hr {
  clear: both;
}

.tipo1 {
  padding: 0 1em 1em 0;
  float: left;
}

.tipo2 {
  padding: 0 0 1em 1em;
  float: right;
}