html {
  font-family: Georgia, Garamond, 'Bitstream Vera Serif', 'Luxi Serif', serif;
  color: black;
  background-color: rgb(255, 234, 234);
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  background-color: rgb(255, 153, 153);
}

header {
  padding: 1em 0;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-align: center;
  font-size: 2.5em;
  color: rgb(255, 204, 204);
}

nav ul {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  width: 20%;
  text-align: center;
  list-style-type: none;
  color: white;
  background-color: rgb(255, 102, 102);
}

nav ul li :link,
nav ul li :visited {
  color: white;
  text-decoration: none;
}

nav ul li :hover {
  color: black;
}

nav ul li.selected {
  background-color: rgb(255, 153, 153);
}

nav+div {
  text-align: center;
}

main {
  background-color: rgb(255, 204, 204);
  padding: 1em;
}

p {
  text-align: justify;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h2,
h3 {
  margin: 0;
}

h2+h3 {
  margin-top: 1em;
}

:link,
:visited,
h1 {
  color: #993333;
}

footer {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

.disco {
  width: 150px;
  height: 150px;
  float: left;
}

.album {
  float: right;
  width: 440px;
  padding-left: 1em;
}

hr {
  clear: both;
}

.tipo1 {
  padding: 0 1em 1em 0;
  float: left;
}

.tipo2 {
  padding: 0 0 1em 1em;
  float: right;
}

@media (max-width: 370px) {
  #caixaPrincipal {
    width: 350px;
  }
  nav ul li {
    display: list-item;
    width: 100%;
    padding: 0.5em 0;
  }
}